[submodule "SmartCampus-Backend"]
	path = SmartCampus-Backend
	url = https://github.com/hadigghazi/SmartCampus-Backend.git
[submodule "SmartCampus-Frontend"]
	path = SmartCampus-Frontend
	url = https://github.com/hadigghazi/SmartCampus-Frontend.git
[submodule "SmartCampus-Chat"]
	path = SmartCampus-Chat
	url = https://github.com/hadigghazi/SmartCampus.git
